*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
}
.signup {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 1.1em;
    color: rgb(87, 82, 82);
    margin-bottom: 35px;
    margin-top: 0;
}

header h1 {
    color: white;
    background: rgb(45, 58, 85);
    padding: 20px;
    margin: 0;
    font-size: 1.3em;
}

hr {
    border-top: 10px double #000000;
    margin: 10px 10px 20px 10px;
}

body {
    margin: 0;
    background-color: rgb(189, 217, 230);
}

legend {
    font-size: 1.2em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding: 0;
}

.para2 {
    text-align: left;
    color: black;
    margin: 15px 5px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 15px 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #9a9fa3;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    background-color: rgb(231, 218, 218);
}

select {
    padding: 15px;
}

#hr2 {
    border-top: 3px solid black;
}

button {
    padding: 15px;
    color: #FFF;
    background-color: #3ac5b3;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Merriweather', serif;
    width: 90%;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    font-weight: bold;
  }

fieldset {
    border: none;
}
label {
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 7px 15px 5px;
}


#zip {
    max-width: 50%;
}

footer p {
    font-size: .9em;
    margin-bottom: 100px;
    margin-top: 25px;
}

Input:focus,
Textarea:focus {
	Border: 2px solid #000000;
}

.contact-title {
    margin-bottom: 10px;
}


@media screen and (min-width: 768px) {
    h1 {
        text-align: center;
        margin-top: 40px;
    }
    hr {
        max-width: 480px;
        margin: 30px auto;
    }
    form {
      max-width: 480px;
      margin: 0 auto;
      
    }
    label {
        display: inline-block;
    }
    .col-1 {
        float: left;
        width: 30%;
        margin-top: 25px;
    }
    .col-2 {
        float: left;
        width: 70%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    fieldset {
        margin: 0;
        padding: 0;
        margin-right: 5px;
    }
    .contact-title {
        margin-bottom: 10px;
    }

    footer {
        margin-top: 30px;
    }
    button {
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }

  }
  
